.center {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -120px 0 0 -110px;    
}

.logo{
  width: 40px;
}
.login-btn{
  float: right;
  margin-right: 100px;
}