body {
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b09f84e…);
  background-size: cover;
  background-position: 50%;
}